*.json
*.retry
production_env.sh
sandbox_env.sh
staging_env.sh
sandbox_env_temp.sh
staging_env_temp.sh
*filebeat-config.yml
*metricbeat-config.yml
*provisioner.sh
.DS_Store
ssl_cert
vault_auth_token
terraform/terraform.tfvars
terraform/terraform
terraform/terraform-init
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/.terraform/
terraform/variables.tf
images/backend-image/startup-script.sh
images/frontend-image/startup-script.sh
.vscode/
secrets/
images/shared/*.yml
images/frontend-image/roles/filebeatConfig/templates
images/frontend-image/roles/metricbeatConfig/templates