*.json
.DS_Store
ssl_cert
vault_auth_token
terraform/terraform.tfvars
terraform/terraform
terraform/terraform-init
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/.terraform/
.vscode/
secrets/
images/backend-image/backend-template.json
images/backend-image/credentials.json
images/database-image/barman/barman-template.json
images/database-image/postgres/postgresql-template.json
images/frontend-image/frontend-template.json
images/nat-image/nat-template.json
images/vault-image/vault-template.json
