{
  "variables": {
    "adminpass": "{{env `KIBANA_PASSWORD`}}"
  },
  "builders": [
    {
      "type": "googlecompute",
      "account_file": "{{ user `gcloud_account_file` }}",
      "project_id": "{{ user `project_id` }}",
      "source_image": "ubuntu-1604-xenial-v20180109",
      "zone": "europe-west1-b",
      "ssh_username": "packer",
      "image_name": "mrm-elk-image"
    }
  ],
  "provisioners": [
    {
      "type": "file",
      "source": "server/elasticsearch-output.conf",
      "destination": "/tmp/elasticsearch-output.conf"
    },
    {
      "type": "file",
      "source": "server/logstash-beats.conf",
      "destination": "/tmp/logstash-beats.conf"
    },
    {
      "type": "file",
      "source": "server/nginx-config",
      "destination": "/tmp/nginx-config"
    },
    {
      "type": "file",
      "source": "server/nginx-filter.conf",
      "destination": "/tmp/nginx-filter.conf"
    },
    {
      "type": "file",
      "source": "server/syslog-filter.conf",
      "destination": "/tmp/syslog-filter.conf"
    },
    {
      "type": "file",
      "source": "patterns/filebeat-pattern.json",
      "destination": "/tmp/filebeat-patterns.json"
    },
    {
      "type": "file",
      "source": "patterns/metricbeat-pattern.json",
      "destination": "/tmp/metricbeat-patterns.json"
    },
    {
      "type": "file",
      "source": "../../../secrets/logstash-forwarder.crt",
      "destination": "/tmp/logstash-forwarder.crt"
    },
    {
      "type": "file",
      "source": "../../../secrets/logstash-forwarder.key",
      "destination": "/tmp/logstash-forwarder.key"
    },
    {
      "type": "file",
      "source": "server/provisioner.sh",
      "destination": "/tmp/provisioner.sh"
    },
    {
      "type": "shell",
      "inline": [
        "/bin/bash /tmp/provisioner.sh {{ user `adminpass` }}"
      ]
    }
  ]
}
