{
  "variables": {
    "service_account_json": "",
    "streamer_password": "",
    "project_id": ""
  },
  "builders": [
    {
      "type": "googlecompute",
      "account_file": "{{ user `service_account_json` }}",
      "project_id": "{{ user `project_id` }}",
      "source_image": "ubuntu-1604-xenial-v20180109",
      "zone": "europe-west1-b",
      "ssh_username": "packer",
      "image_name": "mrm-barman-image"
    }
  ],
  "provisioners": [
    {
      "type": "file",
      "source": "./provisioner.sh",
      "destination": "/tmp/provisioner.sh"
    },
    {
      "type": "file",
      "source": "./barman.conf",
      "destination": "/tmp/barman.conf"
    },
    {
      "type": "file",
      "source": "./cron-job",
      "destination": "/tmp/cron-job"
    },
    {
      "type": "file",
      "source": "../../../secrets/postgres_rsa",
      "destination": "/tmp/postgres_rsa"
    },
    {
      "type": "file",
      "source": "../../../secrets/postgres_rsa.pub",
      "destination": "/tmp/postgres_rsa.pub"
    },
    {
      "type": "file",
      "source": "../../../secrets/barman_rsa.pub",
      "destination": "/tmp/barman_rsa.pub"
    },
    {
      "type": "shell",
      "inline": [
        "/bin/bash /tmp/provisioner.sh {{ user `streamer_password` }}"
      ]
    }
  ]
}
