{
  "variables": {
    "service_account_json": "",
    "project_id": ""
},
  "builders": [
    {
      "type": "googlecompute",
     "account_file": "{{ user `service_account_json` }}",
      "project_id": "{{ user `project_id` }}",
      "source_image": "ubuntu-1604-xenial-v20180109",
      "zone": "europe-west1-b",
      "ssh_username": "packer",
      "image_name": "mrm-frontend-packer-image"
    }
  ],
  "provisioners": [
    {
      "type": "file",
      "source": "../shared/slack.sh",
      "destination": "/home/packer/slack.sh"
    },
    {
      "type": "file",
      "source": "../../secrets/logstash-forwarder.crt",
      "destination": "/tmp/logstash-forwarder.crt"
    },
    {
      "type": "file",
      "source": "./gzip.conf",
      "destination": "/tmp/gzip.conf"
    },
    {
      "type": "file",
      "source": "./startup-script.sh",
      "destination": "/tmp/startup-script.sh"
    },
    {
      "type": "file",
      "source": "./nginx-config",
      "destination": "/tmp/nginx-config"
    },
    {
      "type": "file",
      "source": "../shared/filebeat-config.yml",
      "destination": "/tmp/filebeat-config.yml"
    },
    {
      "type": "file",
      "source": "../shared/metricbeat-config.yml",
      "destination": "/tmp/metricbeat-config.yml"
    },
    {
      "type": "shell",
      "script": "./frontend-provisioner.sh"
    }
  ]
}
